.app {
  display: flex;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "side-bar main-view"
    "playing-bar playing-bar";
}

.error {
  color: white;
  text-align: center;
  margin-top: 100px;
}

:root {
  --green: #b3b3b3;
  --gray: #b3b3b3;
  --dark-gray: #282828;
}

/* RESET */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.text-bold {
  font-weight: 700;
}

.button-main,
input[type="button"] {
  clear: both;
  display: block;
  outline: none;
  border: none;
  background-color: #7abd00;
  margin: 50px auto;
  border-radius: 30px;
  color: RGBA(231, 252, 255, 1);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}
